<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление таблиц воздуха</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div id="app">
    <date-form @response="modal" who="pb">Свинец</date-form>
    <date-form @response="modal" who="all">Все</date-form>

    <modal succes="succes" v-if="showModal" @close="showModal = false"> {{info}} </modal>


</div>


<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div v-bind:class="[succes ? 'modal-header-false' : 'modal-header' ]">
                        <h3>
                            <slot></slot>
                        </h3>
                    </div>

                    <div class="modal-body">
                        <p><a href="http://krasecology.ru">Проверить</a></p>
                    </div>

                    <div class="modal-footer">
                        Нажмите "ОК" или "проверить"
                        <button class="modal-default-button" autofocus @click="$emit('close')">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>


<script type="text/x-template" id="date-form-template">
    <div>
        <form>
            <p>
                <slot></slot>
                <br>
                <input type="date" class="input-date-first" v-model="date_one_start" required title="начало">
                <input type="date" class="input-date-second" v-model="date_one_finish" required placeholder="конец"
                       title="конец">
                <input type="submit" class="input-submit" v-on:click.prevent="update" v-bind:disabled="!checkData">
            </p>
        </form>
    </div>
</script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>